// Config Example - Copy file này thành config.h và chỉnh sửa
// Hoặc lấy giá trị từ .env ở thư mục gốc

#ifndef CONFIG_H
#define CONFIG_H

// WiFi Configuration
#define WIFI_SSID "YourWiFiName"
#define WIFI_PASSWORD "YourWiFiPassword"

// Server Configuration
#define SERVER_IP "127.0.0.1"      // IP of The Python server (Change this to your PC ip address if needed)
#define SERVER_PORT "8080"         // Make sure to change this if .env changed

#endif // CONFIG_H
